@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
    font-family: 'Poppins', sans-serif;
}

.linkHover {
    a:hover {
        text-decoration: underline;
    }
}

.scrollbar-hide {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
    -ms-overflow-style: none; /* Hide scrollbar on IE 10+ */
    &::-webkit-scrollbar {
        width: 0; /* Hide scrollbar on Chrome, Safari, and Opera */
    }
}